{% extends 'original/player/main.html' %}
{% block content %}
<form method="POST">

  {%csrf_token%}
  <div class="form-outline mb-4">
    <label class="form-label" name="uname" for="form2Example1">name</label>
    <input type="text" id="fname" class="form-control" />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" name="uname" for="form2Example1">dob</label>
    <input type="date" id="dob" class="form-control" />
  </div>
  
  <div class="form-outline mb-4">
    
    <label for="position" class="form-label">Choose a position:</label>
    <select name="position" id="position" class="form-control">
      <option value="Goalkeeper">Goalkeeper</option>
      <option value="Centre-back">Centre-back</option>
      <option value="Full-back">Full-back</option>
      <option value="left wing back">left wing back</option>
      <option value="right wing back">right wing back</option>
      <option value="Central midfielder">Central midfielder</option>
      <option value="Defensive midfielder">Defensive midfielder</option>
      <option value="Attacking midfielder">Attacking midfielder</option>
      <option value="Centre forward">Centre forward</option>
      <option value="left forward">left forward</option>
      <option value="right forward">right forward</option>
      
    </select>
    
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" name="uname" for="form2Example1">post</label>
    <input type="text" id="post" class="form-control" />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" name="uname" for="form2Example1">contact</label>
    <input type="text" id="contact" class="form-control" />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" name="uname" for="form2Example1">house name</label>
    <input type="text" id="hname" class="form-control" />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" name="uname" for="form2Example1">place</label>
    <input type="text" id="place" class="form-control" />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" name="uname" for="form2Example1">village</label>
    <input type="text" id="village" class="form-control" />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" name="uname" for="form2Example1">district</label>
    <input type="text" id="district" class="form-control" />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" name="uname" for="form2Example1">state</label>
    <input type="text" id="state" class="form-control" />
  </div>
  <input type="submit" value="Submit">
</form>
{{message}}
{% endblock content %}