<!DOCTYPE html>
<html lang="en">
<head>
    
        <style>
        
        
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
        <body>
        
          <div class="list-group">
            <a href="{% url 'addcoach' %}" class="list-group-item list-group-item-action active" aria-current="true">
              addcoach   </a>
          </div>
          <ol >
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">coaches</div>
              </div>
              
            </li>
            
            {% for i in coach %}
            <li class="list-group-item"><a href="/manager/viewcoach/{{i.id}}">{{i.name}}</a></li>
            {% endfor %}
            
            
          </ol>


    
        
       
        </body>
</html>       
