<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>match details</title>
</head>
<body>
    <table>
        <tr><td>date</td><td>{{data.Match.date}}</tr></td></tr>
        <tr><td>opposite</td><td>{{data.Match}}</tr></td></tr>
        <tr><td>status</td><td>{{data.status}}</tr></td></tr>
        <tr><td>goal scored</td><td>{{data.goal_scored}}</tr></td></tr>
        <tr><td>goal owned</td><td>{{data.goal_owned}}</tr></td></tr>


    </table>
</body>
</html>