<!DOCTYPE html>
<html lang="en">
<head>
    
        <style>
        
        </style>
</head>
        <body>
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">name:{{co.name}}</li>
                <li class="list-group-item"> DOB :{{co.dob}} </li>
                <li class="list-group-item">housename:{{co.housename}}</li>
                <li class="list-group-item"> post:{{co.post}}</li>
                <li class="list-group-item">place:{{co.place}}</li>
                <li class="list-group-item">village:{{co.village}}</li>
                <li class="list-group-item">district:{{co.district}}</li>
                <li class="list-group-item">state:{{co.state}}</li>
                <li class="list-group-item">contact:{{co.contact}}</li>

            </ul>
        
        </body>
</html>       
            