{% extends 'original/coach/main.html' %}
{% block content %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                
              </div>
              {% comment %} <span class="badge bg-primary rounded-pill">14</span> {% endcomment %}
            </li>
            


                <p>{{p.pname}}</p>
            <form method="POST">

                {%csrf_token%}

                <label for="total matches">total matches:</label>
                <input type="number" id="total matches" name="total matchese" >
                
                <br><br>

                <p>---------------------------------------</p>
                
                <label for="goalscored">goalscored:</label>
                <input type="number" id="goalscored" name="goalscored" >

                <br><br>
                <label for="assists">assists:</label>
                <input type="number" id="assists" name="assists" >
                
                <br><br>
                <label for="cleansheets">cleansheets:</label>
                <input type="number" id="cleansheets" name="cleansheets" >
                
                <br><br>
                
                <label for="redcards">redcards:</label>
                <input type="number" name="redcards" >
                
                <br><br>
                <label for="yellowcard">yellowcard:</label>
                <input type="number" id="yellowcard" name="yellowcard" >
                
                <br><br>
                
                
                
                <input type="submit" value="Submit" class="btn btn-primary">
              </form>
        
 {% endblock content%}       