{% extends 'original/staff/main.html' %}
{% block content %}

    
        {% comment %} <style>
        a:link, a:visited {
          background-color: #f44336;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        a:hover, a:active {
          background-color: red;
        }
        </style> {% endcomment %}

        
        <h2>home</h2>
        
        <h3>manage your academy</h3>
        <a href="{% url 'stfcoaches' %}" class="btn btn-primary" >coaches</a>
        <a href="{% url 'viewstf' id=id %}" class="btn btn-primary">details</a> 
        <a href="{% url 'stfplayer' %}" class="btn btn-primary">players</a>
        <a href="{% url 'stfmatches' %}" class="btn btn-primary">matches</a>  
        <a href="{% url 'stfteam' %}" class="btn btn-primary">team</a> 
        {% endblock content %}
     
            