{% extends 'original/manager/main.html' %}
{% block content %}


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Coach details </h5>

      <!-- Default Table -->
      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">coach</th>
            <th scope="col">details</th>
          </tr>
        </thead>
        <tbody>
          {% for i in coach %}
          <tr>
           
            <td>{{i.name}}</td>
            <td><a href="/manager/viewcoach/{{i.id}}">details</a></td>
            
          </tr>
          {% endfor %}
         
          
        </tbody>
      </table>
      <!-- End Default Table Example -->
    </div>
  </div>
{% endblock content %}