{% extends 'original/coach/main.html' %}
{% block content %}
<h1>add new player</h1>

<form method="POST">
    {% csrf_token %}
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Name</label>
      <input type="text" class="form-control" id="fname" name="fname" required>
    </div>
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">password</label>
      <input type="password" class="form-control" id="password" name="password" pattern="[a-z A-Z 0-9]{5,15}" required>
    </div>
  {% comment %} <label for="fname"> name</label>
  <input type="text" class="form-control"   ><br><br>
  <label for="password">password</label>
  <input type="text" ><br><br> {% endcomment %}
  {% comment %} <label for="email">email</label>
  <input type="email" id="email" name="email"><br><br> {% endcomment %}
  <input type="submit" class="btn btn-success" value="Submit">
</form>
{% endblock content %}



