<!DOCTYPE html>
<html lang="en">
<head>
    
        <style>
        a:link, a:visited {
          background-color: #f44336;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        a:hover, a:active {
          background-color: black;
        }
        </style>
</head>
        <body>
        
        <h2>attendance</h2>
        
        <a href="{% url 'today' %}" >today</a>
        {% comment %} <a href="{% url 'viewtotal' %}" >total</a>   {% endcomment %}
        </body>
</html>       
            