{% extends 'original/coach/main.html' %}

{% block content %}
        
        
        
        
        
        <a href="{% url 'statistics' pid=i %}" class="btn btn-primary" >statistics</a>
        {% comment %} <a href="{% url 'viewperfo' %}" >performances</a>   {% endcomment %}
        <a href="{% url 'viewSdetails' id=i %}" class="btn btn-success">details</a> 
        {% comment %} <a href="{% url 'statistics' pid=i%}"  >performance</a> {% endcomment %}
{% endblock content %}     
            