{% extends 'original/coach/main.html' %}
{% block content %}


            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Team 11s</h5>
            
                  <!-- Default Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">player</th>
                        <th scope="col">actions</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for i in team_tens %}
                      <tr>
                       
                        <td>{{i.pname}}</td>
                        <td><a href="/coach/stdhome/{{i.pname.id}}"> details</a>
                        <br><a href="{% url 'removefromteam' player_id=i.pname.id%}">remove</a>
                        </td>
                        
                      </tr>
                      {% endfor %}
                     
                      
                    </tbody>
                  </table>
                  <!-- End Default Table Example -->
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Team 7s</h5>
            
                  <!-- Default Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">player</th>
                        <th scope="col">action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in team_sevens %}
                      <tr>
                       
                        <td>{{i.pname}}</td>
                        <td><a href="/coach/stdhome/{{i.id}}"> details</a>
                        <br><a href="{% url 'removefromteam' player_id=i.pname.id%}">remove</a></td>
                        
                      </tr>
                      {% endfor %}
                     
                      
                    </tbody>
                  </table>
                  <!-- End Default Table Example -->
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Team 5s</h5>
            
                  <!-- Default Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">player</th>
                        <th scope="col">details</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in team_fives %}
                      <tr>
                       
                        <td>{{i.pname}}</td>
                        <td><a href="/coach/stdhome/{{i.pname.id}}"> details</a>
                        <br><a href="{% url 'removefromteam' player_id=i.pname.id%}">remove</a></td>
                        
                      </tr>
                      {% endfor %}
                     
                      
                    </tbody>
                  </table>
                  <!-- End Default Table Example -->
                </div>
              </div>
{% endblock content %}
