{% extends 'original/coach/main.html' %}
{% block content %}
<div class="search-bar">
  <form action="" method="get" class="search-form d-flex align-items-center">
    <input type="date" name="date"  id="date" value="{{date}}"/>
    <input type="submit"  value="submit" />
  </form>
</div>
  <table class="table" border="2">
    <thead>
      <tr>
        <th>Name</th>
        <th>Present</th>
        <th>abscent</th>
      </tr>
    </thead>
    <tbody>
      {% for i in attendance_data %}
      <tr>
        <td>{{i.player_name}}</td>
        <td>
          <input type="radio" name="a{{i.id}}" value="1" {% if i.attendance_present %}checked="checked" {% endif %}
            onclick="addattendece('{{i.id}}','1')" />
        </td>
        <td>
          <input type="radio" name="a{{i.id}}" value="0" {% if i.attendance_absent %}checked="checked" {% endif %}
            onclick="addattendece('{{i.id}}','0')" />
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <div id="data"></div>
  </table>
</body>
<script>
  function addattendece(id, status) {
    date = document.getElementById("date").value;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("data").innerHTML=this.responseText;
      }
    };
    xhttp.open("GET", "/coach/add/attendance/" + id + "/" + status + "/" + date, true);
    xhttp.send();
  }
  function loadDoc(vale, atr) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("demo").innerHTML =
          this.responseText;
      }
    };
    xhttp.open("GET", "/coach/add/attendance/" + id + "/" + vale + "/" + date, true);
    xhttp.send();
  }
</script>

{% endblock content %}