{% extends 'original/coach/main.html' %} {% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Boll control</h5>

        <!-- Bar Chart -->
        <div id="barChart"></div>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#barChart"), {
              series: [{
                data: [{% for i in bollcontrol %}{{i}},{% endfor %}]
              }],
              chart: {
                type: 'bar',
                height: 350
              },
              plotOptions: {
                bar: {
                  borderRadius: 4,
                  horizontal: false,
                }
              },
              dataLabels: {
                enabled: true
              },
              xaxis: {
                categories:[{% for i in name %}'{{i}}',{% endfor %}],
              }
            }).render();
          });
        </script>
        <!-- End Bar Chart -->
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pass Accuracy</h5>

        <!-- Bar Chart -->
        <div id="passaccuracy"></div>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#passaccuracy"), {
              series: [{
                data: [{% for i in passaccuracy %}{{i}},{% endfor %}]
              }],
              chart: {
                type: 'bar',
                height: 350
              },
              plotOptions: {
                bar: {
                  borderRadius: 4,
                  horizontal: false,
                }
              },
              dataLabels: {
                enabled: true
              },
              xaxis: {
                categories:[{% for i in name %}'{{i}}',{% endfor %}],
              }
            }).render();
          });
        </script>
        <!-- End Bar Chart -->
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Stamina</h5>

        <!-- Bar Chart -->
        <div id="stamina"></div>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#stamina"), {
              series: [{
                data: [{% for i in stamina %}{{i}},{% endfor %}]
              }],
              chart: {
                type: 'bar',
                height: 350
              },
              plotOptions: {
                bar: {
                  borderRadius: 4,
                  horizontal: false,
                }
              },
              dataLabels: {
                enabled: true
              },
              xaxis: {
                categories:[{% for i in name %}'{{i}}',{% endfor %}],
              }
            }).render();
          });
        </script>
        <!-- End Bar Chart -->
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">takles</h5>

        <!-- Bar Chart -->
        <div id="takles"></div>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#takles"), {
              series: [{
                data: [{% for i in takles %}{{i}},{% endfor %}]
              }],
              chart: {
                type: 'bar',
                height: 350
              },
              plotOptions: {
                bar: {
                  borderRadius: 4,
                  horizontal: false,
                }
              },
              dataLabels: {
                enabled: true
              },
              xaxis: {
                categories:[{% for i in name %}'{{i}}',{% endfor %}],
              }
            }).render();
          });
        </script>
        <!-- End Bar Chart -->
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">shoot</h5>

        <!-- Bar Chart -->
        <div id="shoot"></div>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#shoot"), {
              series: [{
                data: [{% for i in shoot %}{{i}},{% endfor %}]
              }],
              chart: {
                type: 'bar',
                height: 350
              },
              plotOptions: {
                bar: {
                  borderRadius: 4,
                  horizontal: false,
                }
              },
              dataLabels: {
                enabled: true
              },
              xaxis: {
                categories:[{% for i in name %}'{{i}}',{% endfor %}],
              }
            }).render();
          });
        </script>
        <!-- End Bar Chart -->
      </div>
    </div>
  </div>
  <h1>Daily Tracking</h1>
{% for i in daily %}
<div class="col-lg-6">

  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Reports <span>/{{i.name}}</span></h5>

    <!-- Line Chart -->
    <div id="chart{{i.id}}"></div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        new ApexCharts(document.querySelector("#chart{{i.id}}"), {
          series: [{
            name: 'bollcontronl',
            data: [{% for j in i.bollcontronl %}'{{j}}',{% endfor %}]
          }, {
            name: 'passaccuracy',
            data: [{% for j in i.passaccuracy %}'{{j}}',{% endfor %}]
          }, {
            name: 'stamina',
            data: [{% for j in i.stamina %}'{{j}}',{% endfor %}]
          }, {
            name: 'speed',
            data: [{% for j in i.speed %}'{{j}}',{% endfor %}]
          }, {
            name: 'takles',
            data: [{% for j in i.takles %}'{{j}}',{% endfor %}]
          }, {
            name: 'shoot',
            data: [{% for j in i.shoot %}'{{j}}',{% endfor %}]
          }],
          chart: {
            height: 350,
            type: 'area',
            toolbar: {
              show: false
            },
          },
          markers: {
            size: 4
          },
          colors: ['#4154f1', '#2eca6a', '#ff771d'],
          fill: {
            type: "gradient",
            gradient: {
              shadeIntensity: 1,
              opacityFrom: 0.3,
              opacityTo: 0.4,
              stops: [0, 90, 100]
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'smooth',
            width: 2
          },
          xaxis: {
            type: 'date',
            categories: [{% for j in i.date %}'{{j}}',{% endfor %}]
          },
          tooltip: {
            x: {
              format: 'dd/MM/yy'
            },
          }
        }).render();
      });
    </script>
    <!-- End Line Chart -->

  </div>
</div>
</div>
</div>
{% endfor %}
  
</div>

{% endblock content %}
